<div class="row">
  <form class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <%= text_field_tag :long, params[:long].present? ? params[:long]: nil, class: "form-control", placeholder: "Longitude" %>
      <%= text_field_tag :lat, params[:lat].present? ? params[:lat]: nil, class: "form-control", placeholder: "Latitude" %>
      <%= text_field_tag :distance, params[:distance].present? ? params[:distance]: nil, class: "form-control", placeholder: "Radius in km." %>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <%= link_to "Reset", root_path, class: "btn btn-default" %>
  </form>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Tweets</div>
  <!-- List group -->
  <ul class="list-group">
<% @tweets.each do |tweet| %>
    <li class="list-group-item">

      <h5><a href="http://twitter.com/<%= tweet.screen_name %>" target="_blank">@<%= tweet.screen_name %></a> &middot; 
      <small><%= time_ago_in_words(tweet.created_at) %></small>
      </h5>

      <p><%= tweet.text %></p>

      <span class="glyphicon glyphicon-globe"></span>
      <a href="#"><small><%= "#{tweet.location[0]}, #{tweet.location[1]}" %></small></a>

    </li>
<% end %>
  </ul>
</div>

<%= paginate @tweets %>
